body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.element-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  border: 1px solid #333;
  width: 545px;
  height: 545px;
}

.grid-item {
  /* width: calc(100% / 16 - 1px);
  height: calc(100% / 16 - 1px); */
  box-sizing: border-box;
  background-color: #ddd;
  border: 1px solid #fff;
  cursor: all-scroll;
}

.grid-item:hover {
background-color: #ffcccb;
}

.element-left {
  display: flex;
  flex-direction: column;
}

.element-left.btn-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px; 
}

.btn-group button:hover{
  filter:brightness(1.2);
}

.btn-group #blackColor:hover{
  filter:brightness(2);
}

.element-left .btn-group p {
  display: block; 
}

.element-left .text-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin-bottom: 10px;
}

.element-left .text-intro p#text-intro-big {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 8px;
}

.element-left .text-intro p#text-intro-small {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0%;
}
.element-left .btn-group button {
  border: 1px "black"; /* Green border */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-shadow:
  3px 3px 2px #000;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 10px;
  height: 90px;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.element-left .btn-group #resetButton {
  background-color: #a8a8a8;
}

.element-left .btn-group #blackColor {
  color: white;
  background-color: #000;
}

.element-left .btn-group #multiColor {
  background-color: #ffb6b6;
}

.footer {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  margin-top: 0;
  margin-bottom: 0;
  height: 46px;
}

.footer #credits-text {
  text-align: center;
}

#github-icon {
  display: flex;
  align-items: center;
  max-width: 40px;
  max-height: auto;
  transition: transform 0.3s, filter 0.3s;
}

#github-icon:hover {
  transform: scale(1.1);
  filter: brightness(1.4);
}